rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Izinkan semua akses baca dan tulis secara bebas (Allow All Read/Write)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
